<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
<div class="col-8 offset-2">

        <h3>Edit Your Listing</h2>
            <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate
                class="needs-validation"
                enctype="multipart/form-data">
                
                <div class="mb-3">
                <label for="title" class="form-label" 
                >Title</label>
                 <input name="listing[title]" 
                 value=" <%= listing.title %>" 
                 type="text"
                 class="form-control"
                 required/> 
                   <div class="valid-feedback">Title Looks good!</div>
                </div>
      <div class="mb-3">
  <label for="description" class="form-label">Description</label>
  <textarea 
    class="form-control" 
    id="description" 
    name="listing[description]" 
    rows="5"
    required><%= listing.description %> </textarea>
      <div class="invalid-feedback">Please Enter a valid description</div> 
</div>

        
     <div class="mb-3">
  <!-- Show current image above input -->
   Original Lisitng Image <br>
  <% if (listing.image?.url) { %>
    <img src="<%= originalImageUrl %>" class="card-img-top show-img mb-2" alt="listing image">
  <% } %>

  <!-- Input to optionally upload a new image -->
  <label for="image" class="form-label">Upload new Image</label>
  <input name="image" type="file" class="form-control">
</div>

         
  


        <div class="mb-3">
        <label for="loaction" class="form-label">location</label>
        <input name="listing[location]" 
        value = "<%= listing.location %>" 
        type="text"
        class="form-control"
        required >
     <div class="invalid-feedback">please enter the Location</div>

        </div>

<div class="row">

         <div class="mb-3 col-md-4">
         <label for="price" class="form-label">price</label>
         <input name="listing[price]" 
         value = "<%= listing.price %>" 
         type="number"
         class="form-control"
         required>
        <div class="invalid-feedback">please enter the Price</div>

        </div>


        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]" 
            value = <%= listing.country %> 
            type="text"
            class="form-control"
           required >
           <div class="invalid-feedback">please enter the country</div>

        </div>
    </div>
        
        <button class="btn btn-dark edit-btn mb-3">Edit</button>
    </form>
    
</body>
</html>
</div>

</div>

